@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Vazirmatn";
}

aside {
  margin-left: 1%;
  width: 12rem;
}

aside li {
  display: flex;
  margin-bottom: 0.5rem;
}

li:hover {
  color: rgba(47, 0, 255, 0.808);
  cursor: pointer;
}



.icon {
  display: flex;
  align-items: center;
}

.bottom-section-header {
  display: flex;
  margin-bottom: 0.5rem;
  align-items: center;
}

.bottom-section-header ion-icon {
  margin-left: auto;
  font-size: 1.2rem;
}

ion-icon {
  margin-right: 0.5rem;
  color: rgba(0, 0, 0, 0.459);
}

.top-section {
  margin-bottom: 2rem;
}

h4 {
  font-weight: bold;
  padding-top: 1px;
}

.gray-color {
  color: rgba(0, 0, 0, 0.459);
}
