*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
}
/* .container {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
nav {
  width: 100%;
  display: flex;
  gap: 0;
}
.main-div {
  /* margin: 0; */
  display: flex;
  width: 100%;
}
.first-div,
.btn-div,
.input-div {
  /* display: inline-block; */
  /* margin: 0; */
}
p {
  color: #fafafa;
  background-color: hsl(207deg 10% 17%);
  padding: 20px;
  text-align: left;
  width: 170px;
  vertical-align: middle;
  display: inline-block;
  width: 20%;
}
/* .first-div {
  color: #fafafa;
  background-color: hsl(207deg 10% 17%);
  padding: 20px;
  text-align: left;
  width: 170px;
  vertical-align: middle;
} */
input {
  /* margin: 0; */
  padding: 20px;
  background-color: hsl(213deg 7% 31%);
  font-size: 16px;
  border: none;
  width: 70%;
}
.btn {
  background-color: hsl(207deg 10% 17%);
  padding: 20px;
  border: none;
  color: #fafafa;
  cursor: pointer;
  width: 10%;
  font-size: 18px;
  color: rgb(100, 104, 112);
}
